# ignore certain configs and folders
types/
.vscode/
tsconfig.json
node_modules
jspm_packages
 
# igore the map files
**/*.map
 
# ignore the .ts files
*.ts
 
# include the .d.ts files
!*.d.ts

# ignore tgz files
*.tgz